.case {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.case-content {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.case-background {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    margin: auto;
    position: absolute;
}

.case-title {
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-family: 'DrulWideTrial-Medium';
    /* font-size: 44px; */
    font-size: 60px;
    /* font-size: clamp(24px, 44px, 60px);
    font-size: clamp(24px, 44px, 60px); */
    /* font-size: calc(24px + 13* (100vw / 1280)); */
}

.case-description {
    z-index: 1;
    color: #fff;
    font-size: 14px;
    margin-top: 16px;
    max-width: 404px;
    line-height: 150%;
    font-family: 'AtypDisplay-Regular';
}

.case-banner {
    height: 59vh;
    min-width: 52vw;
    margin-top: 56px;
}

.case-img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.case-banner img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .3s cubic-bezier(.455, .03, .515, .955);
}

@media(max-width: 1728px) {
    .case-title {
        font-size: 55px;
    }
}

@media(max-width: 1440px) {
    .case-title {
        font-size: 44px;
    }
}

@media(max-width: 1058px) {
    .case {
        align-items: center;
    }

    .case-banner {
        width: 100%;
        height: fit-content;
    }
}

@media(max-width: 800px) {
    .case-title {
        font-size: 24px;
    }

    .case-banner {
        margin-top: 40px;
    }

    .case-banner img {
        object-fit: contain;
    }
}