@import url('./global.css');

@font-face {
    font-family: 'AtypDisplay-Bold';
    src: url(../public/fonts/AtypDisplay/AtypDisplay-Bold.ttf);
}

@font-face {
    font-family: 'AtypDisplay-Medium';
    src: url(../public/fonts/AtypDisplay/AtypDisplay-Medium.ttf);
}

@font-face {
    font-family: 'AtypDisplay-Regular';
    src: url(../public/fonts/AtypDisplay/AtypDisplay-Regular.ttf);
}

@font-face {
    font-family: 'AtypDisplay-Semibold';
    src: url(../public/fonts/AtypDisplay/AtypDisplay-Semibold.ttf);
}

@font-face {
    font-family: 'DrulWideTrial-Medium';
    src: url(../public/fonts/DrukWideTrial/DrukWideMediumTrial.otf);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1237px;
}

.spacer {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    background: #012921;
    font-family: 'DrulWideTrial-Medium';
}

.cases {
    width: 100%;
    z-index: 20;
    position: relative;
    /* height: calc(3*130lvh); */
}

.brands {
    /* height: 100vh; */
    overflow: hidden;
    background: #E6EFEF;
    padding: 71px 0 139px 0;
}

.brands-title {
    color: #012921;
    font-size: 60px;
    padding-bottom: 56px;
    border-bottom: 1px solid #012921;
    font-family: 'DrulWideTrial-Medium';
}